<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashbaord</title>
    <link rel="stylesheet" href="style.css">
    <style>
        body{
            background-color:#ff9800;
        }
    </style>
</head>
<body>
    <div id="cofirm">
        <h2>Congratulation &#127881;  you own a Pubg free gift  &#128157; &#128157; </h2><br><br>
        <h3>Wait for sometimes &#8986; we will let you know</h3>
    </div>

</body>
</html>