<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="title">
    <h2>WELCOME TO PUBG EVENT</h2>
  </div>
  <!-- <audio id="audio1">
    <source src="image/click1.mp3" type="audio/mpeg">
  </audio> -->
    <div class="parentdiv">
        <div id="child1div">
          <form id="dataform">
            <h3>Win a free gift</h3>
            <label for="fname">Character Id:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Account Level:</label><br>
            <input type="number" id="lname" name="lname"><br><br>
          </form> 
          <button id="actionbtn">START NOW</button>
        </div>
        <div id="child3div">
          <h4>LET'S DROP THE BEAT</h4>
         <div>
          <div class="gift">
            <img src="image/1.jpeg" alt="" width="150px" height="120px">
            <button class="giftbtn" onclick="clickOne()">Collect</button>
          </div>
          <div class="gift"> 
            <img src="image/2.jpeg" alt="" width="150px" height="120px">
            <button class="giftbtn" onclick="clickTwo()">Collect</button>
          </div>
          <div class="gift">
            <img src="image/3.jpeg" alt="" width="150px" height="120px">
            <button class="giftbtn" onclick="clickThree()">Collect</button>
          </div>
          <div class="gift">
            <img src="image/4.jpeg" alt="" width="150px" height="120px">
            <button class="giftbtn" onclick="clickFour()">Collect</button>
          </div>
          <div class="gift">
            <img src="image/5.jpeg" alt="" width="150px" height="120px">
            <button class="giftbtn" onclick="clickFive()">Collect</button>
          </div>
          <div class="gift">
            <img src="image/6.jpeg" alt="" width="150px" height="120px">
            <button class="giftbtn" onclick="clickSix()">Collect</button>
          </div>

         </div>
        </div>
        <div id="child2div">
          <h4>Are You sure want to collect the reward?</h4>
          <div class="randomimage">
            <img src="images/1.png" alt="randompic" id="randompic" width="100px" height="100px">
          </div>
         <a href="/auth"><button class="claimbtn" onclick="win()">Collect</button></a>
        </div>
    </div>
<script src="logic.js"></script>
</body>
</html>